
@import "milligram";

/* -----------------------------------------------------------------
    Page Layout
*/

/* #app {
    min-width: 1024px;
    max-width: 1140px;
    margin: 0 auto;
}

.columns {
    display: flex;
}

.columns > section, 
.columns > div {
    flex: 1;
} */


/* -----------------------------------------------------------------
    Search Bar Styles
*/

.search-bar {
    display: flex;
}

.search-bar input {
    flex: 1;
}

